fastapi==0.115.0
uvicorn[standard]==0.30.6
sqlalchemy==2.0.35
pymysql==1.1.1
psycopg2-binary==2.9.10
pydantic==2.9.2
email-validator==2.2.0
PyJWT==2.9.0
bcrypt==4.2.0
stripe==11.1.1
pyotp==2.9.0
requests==2.32.3
cryptography==44.0.3
